-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: u388974772_bodyharmony2
-- ------------------------------------------------------
-- Server version	8.0.44
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */
;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */
;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */
;
/*!50503 SET NAMES utf8mb4 */
;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */
;
/*!40103 SET TIME_ZONE='+00:00' */
;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */
;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */
;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */
;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */
;
--
-- Table structure for table `admin_nudges`
--
DROP TABLE IF EXISTS `admin_nudges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `admin_nudges` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `admin_username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('whatsapp_manual', 'whatsapp_auto') COLLATE utf8mb4_unicode_ci DEFAULT 'whatsapp_manual',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_student_nudges` (`student_id`, `created_at`),
  KEY `idx_admin_activity` (`admin_username`, `created_at`),
  CONSTRAINT `admin_nudges_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `admin_nudges`
--
LOCK TABLES `admin_nudges` WRITE;
/*!40000 ALTER TABLE `admin_nudges` DISABLE KEYS */
;
/*!40000 ALTER TABLE `admin_nudges` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `admin_sessions`
--
DROP TABLE IF EXISTS `admin_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `admin_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token` varchar(64) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `fk_session_user` FOREIGN KEY (`user_id`) REFERENCES `admin_users` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 2 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `admin_sessions`
--
LOCK TABLES `admin_sessions` WRITE;
/*!40000 ALTER TABLE `admin_sessions` DISABLE KEYS */
;
INSERT INTO `admin_sessions`
VALUES (
    1,
    1,
    '29e58896dec1b1a7f7daaf211f2ff2aa396478afce76e7c5dea6263567526b72',
    '2026-02-06 05:14:16',
    '2026-02-07 05:14:16'
  );
/*!40000 ALTER TABLE `admin_sessions` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `admin_users`
--
DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `admin_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('superadmin', 'admin', 'support') DEFAULT 'admin',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `admin_users`
--
LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */
;
INSERT INTO `admin_users`
VALUES (
    1,
    'nom4d',
    '$2y$12$mMOP50cyAzFz9gDUVhZLiuCIWL72whLHo7acxlS0/QGJimmiOJL8e',
    'superadmin',
    '2026-02-06 04:31:11'
  ),
(
    2,
    'Josi',
    '$2y$12$Dg.fzpUeYNQs8og1uoaLdYpW2w9N0NEMBkVXF55zj5XruuqPq',
    'admin',
    '2026-02-06 04:31:11'
  );
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `faq`
--
DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `faq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question` varchar(255) NOT NULL,
  `answer` text NOT NULL,
  `display_order` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `faq`
--
LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */
;
INSERT INTO `faq`
VALUES (
    1,
    'Para quem ├® o curso?',
    'Para esteticistas, fisioterapeutas e profissionais da sa├║de que desejam revolucionar seus resultados.',
    1,
    '2026-02-06 04:31:11'
  ),
(
    2,
    'Preciso ter equipamentos caros?',
    'N├úo! O m├®todo ensina como extrair o m├íximo de qualquer equipamento de eletroestimula├º├úo.',
    2,
    '2026-02-06 04:31:11'
  );
/*!40000 ALTER TABLE `faq` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `gallery_images`
--
DROP TABLE IF EXISTS `gallery_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `gallery_images` (
  `id` int NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) NOT NULL,
  `filepath` varchar(255) NOT NULL,
  `section` varchar(50) DEFAULT 'gallery',
  `display_order` int DEFAULT '0',
  `usage_locations` json DEFAULT NULL,
  `focal_point` json DEFAULT NULL,
  `alt_text` varchar(255) DEFAULT NULL,
  `dimensions` json DEFAULT NULL,
  `adjustments` json DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `gallery_images`
--
LOCK TABLES `gallery_images` WRITE;
/*!40000 ALTER TABLE `gallery_images` DISABLE KEYS */
;
/*!40000 ALTER TABLE `gallery_images` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `leads`
--
DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `leads` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `whatsapp` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `message` text,
  `status` enum('new', 'read', 'archived') DEFAULT 'new',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `leads`
--
LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */
;
/*!40000 ALTER TABLE `leads` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_access_logs`
--
DROP TABLE IF EXISTS `lms_access_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_access_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `ip_address` varchar(45) NOT NULL,
  `action` varchar(50) NOT NULL,
  `details` json DEFAULT NULL,
  `status` enum('allow', 'block_ip', 'block_device') DEFAULT 'allow',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `student_log_idx` (`student_id`),
  CONSTRAINT `fk_log_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE
  SET NULL
) ENGINE = InnoDB AUTO_INCREMENT = 18 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_access_logs`
--
LOCK TABLES `lms_access_logs` WRITE;
/*!40000 ALTER TABLE `lms_access_logs` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_access_logs` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_attachments`
--
DROP TABLE IF EXISTS `lms_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_attachments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `lesson_id` int NOT NULL,
  `title` varchar(100) NOT NULL,
  `file_type` varchar(20) DEFAULT 'pdf',
  `file_path` varchar(255) NOT NULL,
  `is_downloadable` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `lesson_id` (`lesson_id`),
  CONSTRAINT `fk_attachment_lesson` FOREIGN KEY (`lesson_id`) REFERENCES `lms_lessons` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 2 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_attachments`
--
LOCK TABLES `lms_attachments` WRITE;
/*!40000 ALTER TABLE `lms_attachments` DISABLE KEYS */
;
INSERT INTO `lms_attachments`
VALUES (
    1,
    1,
    'Guia do Aluno.pdf',
    'pdf',
    'docs/guia_aluno.pdf',
    0,
    '2026-02-06 04:31:11'
  );
/*!40000 ALTER TABLE `lms_attachments` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_badges`
--
DROP TABLE IF EXISTS `lms_badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_badges` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `icon` varchar(50) DEFAULT 'FaMedal',
  `criteria_type` enum(
    'module_completion',
    'login_streak',
    'lesson_count',
    'manual'
  ) NOT NULL,
  `criteria_value` int DEFAULT '0',
  `xp_reward` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 7 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_badges`
--
LOCK TABLES `lms_badges` WRITE;
/*!40000 ALTER TABLE `lms_badges` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_badges` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_lesson_attachments`
--
DROP TABLE IF EXISTS `lms_lesson_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_lesson_attachments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `lesson_id` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_type` varchar(50) DEFAULT 'application/pdf',
  `file_size` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `lesson_id` (`lesson_id`),
  CONSTRAINT `lms_lesson_attachments_ibfk_1` FOREIGN KEY (`lesson_id`) REFERENCES `lms_lessons` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_lesson_attachments`
--
LOCK TABLES `lms_lesson_attachments` WRITE;
/*!40000 ALTER TABLE `lms_lesson_attachments` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_lesson_attachments` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_lessons`
--
DROP TABLE IF EXISTS `lms_lessons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_lessons` (
  `id` int NOT NULL AUTO_INCREMENT,
  `module_id` int NOT NULL,
  `title` varchar(150) NOT NULL,
  `description` text,
  `video_type` enum('youtube', 'vimeo', 'panda', 'hostinger') DEFAULT 'youtube',
  `video_ref` varchar(255) DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL COMMENT 'Internal full path for Hostinger',
  `file_size` bigint DEFAULT '0',
  `duration_seconds` int DEFAULT '0',
  `attachment_count` int DEFAULT '0',
  `display_order` int DEFAULT '0',
  `thumbnail_base64` longtext,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `module_id` (`module_id`),
  CONSTRAINT `fk_lesson_module` FOREIGN KEY (`module_id`) REFERENCES `lms_modules` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 4 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_lessons`
--
LOCK TABLES `lms_lessons` WRITE;
/*!40000 ALTER TABLE `lms_lessons` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_lessons` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_modules`
--
DROP TABLE IF EXISTS `lms_modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_modules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `description` text,
  `thumbnail_url` varchar(255) DEFAULT NULL,
  `display_order` int DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 4 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_modules`
--
LOCK TABLES `lms_modules` WRITE;
/*!40000 ALTER TABLE `lms_modules` DISABLE KEYS */
;
INSERT INTO `lms_modules`
VALUES (
    1,
    'M├│dulo 01: Introdu├º├úo ao Body Harmony',
    'Conceitos fundamentais e vis├úo integrativa.',
    NULL,
    1,
    1,
    '2026-02-06 04:31:11'
  ),
(
    2,
    'M├│dulo 02: Fisiologia e Metabolismo',
    'Entendendo o corpo humano a fundo.',
    NULL,
    2,
    1,
    '2026-02-06 04:31:11'
  ),
(
    3,
    'M├│dulo 03: Pr├ítica com Equipamentos',
    'Hands-on: Como configurar e aplicar.',
    NULL,
    3,
    1,
    '2026-02-06 04:31:11'
  );
/*!40000 ALTER TABLE `lms_modules` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_points_log`
--
DROP TABLE IF EXISTS `lms_points_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_points_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `action` varchar(50) NOT NULL,
  `points` int NOT NULL,
  `reference_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_points_idx` (`user_id`),
  CONSTRAINT `fk_points_user` FOREIGN KEY (`user_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_points_log`
--
LOCK TABLES `lms_points_log` WRITE;
/*!40000 ALTER TABLE `lms_points_log` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_points_log` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_progress`
--
DROP TABLE IF EXISTS `lms_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `lesson_id` int NOT NULL,
  `is_completed` tinyint(1) DEFAULT '0',
  `progress_percent` int DEFAULT '0',
  `last_watched_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_progress` (`student_id`, `lesson_id`),
  KEY `fk_progress_lesson` (`lesson_id`),
  CONSTRAINT `fk_progress_lesson` FOREIGN KEY (`lesson_id`) REFERENCES `lms_lessons` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_progress_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_progress`
--
LOCK TABLES `lms_progress` WRITE;
/*!40000 ALTER TABLE `lms_progress` DISABLE KEYS */
;
INSERT INTO `lms_progress`
VALUES (1, 38, 2, 0, 0, '2026-02-06 05:29:50');
/*!40000 ALTER TABLE `lms_progress` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_resources`
--
DROP TABLE IF EXISTS `lms_resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_resources` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `description` text,
  `file_url` varchar(255) NOT NULL,
  `file_type` varchar(20) DEFAULT 'pdf',
  `is_active` tinyint(1) DEFAULT '1',
  `download_count` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 4 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_resources`
--
LOCK TABLES `lms_resources` WRITE;
/*!40000 ALTER TABLE `lms_resources` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_resources` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `lms_user_badges`
--
DROP TABLE IF EXISTS `lms_user_badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `lms_user_badges` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `badge_id` int NOT NULL,
  `awarded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_badge_unique` (`user_id`, `badge_id`),
  KEY `fk_badge_def` (`badge_id`),
  CONSTRAINT `fk_badge_def` FOREIGN KEY (`badge_id`) REFERENCES `lms_badges` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_badge_user` FOREIGN KEY (`user_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `lms_user_badges`
--
LOCK TABLES `lms_user_badges` WRITE;
/*!40000 ALTER TABLE `lms_user_badges` DISABLE KEYS */
;
/*!40000 ALTER TABLE `lms_user_badges` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `mentors`
--
DROP TABLE IF EXISTS `mentors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `mentors` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `nickname` varchar(50) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL,
  `photo_url` varchar(255) DEFAULT NULL,
  `bio` text,
  `instagram` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 4 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `mentors`
--
LOCK TABLES `mentors` WRITE;
/*!40000 ALTER TABLE `mentors` DISABLE KEYS */
;
/*!40000 ALTER TABLE `mentors` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `results`
--
DROP TABLE IF EXISTS `results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(255) NOT NULL,
  `category` varchar(50) DEFAULT 'Gordura Localizada',
  `image_url` varchar(255) NOT NULL,
  `date` date DEFAULT NULL,
  `student_id` int DEFAULT NULL,
  `pinned` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `fk_results_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE
  SET NULL
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `results`
--
LOCK TABLES `results` WRITE;
/*!40000 ALTER TABLE `results` DISABLE KEYS */
;
/*!40000 ALTER TABLE `results` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `site_config`
--
DROP TABLE IF EXISTS `site_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `site_config` (
  `config_key` varchar(50) NOT NULL,
  `config_value` longtext,
  PRIMARY KEY (`config_key`)
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `site_config`
--
LOCK TABLES `site_config` WRITE;
/*!40000 ALTER TABLE `site_config` DISABLE KEYS */
;
/*!40000 ALTER TABLE `site_config` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `student_devices`
--
DROP TABLE IF EXISTS `student_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `student_devices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `device_token` varchar(64) NOT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `details` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_used_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `device_token` (`device_token`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `fk_device_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `student_devices`
--
LOCK TABLES `student_devices` WRITE;
/*!40000 ALTER TABLE `student_devices` DISABLE KEYS */
;
INSERT INTO `student_devices`
VALUES (
    1,
    38,
    '5e1bf81fbb1a7e65881391d617674c743cecd9afa3db1901e35a221a833a9828',
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',
    NULL,
    '2026-02-06 04:32:46',
    '2026-02-06 05:30:05'
  ),
(
    2,
    38,
    '2472ff5d2947890b5547c9d7630ab780fba6f556496ca1fd6366187274160c21',
    'Debug-Standalone',
    NULL,
    '2026-02-06 04:35:04',
    '2026-02-06 04:35:04'
  );
/*!40000 ALTER TABLE `student_devices` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `students`
--
DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `students` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `username` varchar(50) DEFAULT NULL,
  `state` varchar(10) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `photo_url` varchar(255) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `instagram` varchar(50) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `force_password_change` tinyint(1) DEFAULT '0',
  `video_url` varchar(255) DEFAULT NULL,
  `mini_gallery` text,
  `pinned` tinyint(1) DEFAULT '0',
  `max_devices` int DEFAULT '1',
  `is_active` tinyint(1) DEFAULT '1',
  `last_login_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB AUTO_INCREMENT = 39 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `students`
--
LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */
;
/*!40000 ALTER TABLE `students` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `system_broadcasts`
--
DROP TABLE IF EXISTS `system_broadcasts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `system_broadcasts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'info',
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `system_broadcasts`
--
LOCK TABLES `system_broadcasts` WRITE;
/*!40000 ALTER TABLE `system_broadcasts` DISABLE KEYS */
;
/*!40000 ALTER TABLE `system_broadcasts` ENABLE KEYS */
;
UNLOCK TABLES;
--
-- Table structure for table `testimonials`
--
DROP TABLE IF EXISTS `testimonials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `testimonials` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `role` varchar(100) DEFAULT NULL,
  `text` text NOT NULL,
  `photo_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;
--
-- Dumping data for table `testimonials`
--
LOCK TABLES `testimonials` WRITE;
/*!40000 ALTER TABLE `testimonials` DISABLE KEYS */
;
/*!40000 ALTER TABLE `testimonials` ENABLE KEYS */
;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */
;
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */
;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */
;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */
;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */
;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */
;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */
;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */
;
-- Dump completed on 2026-02-06  5:53:10